body {
  background-image: linear-gradient(to bottom, #a30000, #ffffff);
  background-size: 100% 300%;
  background-repeat: no-repeat;
}

.divrow {
  display: flex;
  flex-direction: row;
}

.divcol {
  display: flex;
  flex-direction: column;
}

.bgclr1 {
  background-color: #a30000;
}

.bgclr2 {
  background-color: #808080;
}

.bgclr3 {
  background-color: #e0e0e0;
}

.bgisr {
  background-image: linear-gradient(to bottom, #808080, whitesmoke, #808080);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.pddnglr1 {
  padding-left: 10%;
  padding-right: 10%;
}

.pddngt1 {
  padding-top: 1%;
}

.pddngbt1 {
  padding-bottom: 2%;
}

.pddng1 {
  padding: 2%;
}

.jcc {
  justify-content: center;
}

.wdth1 {
  width: 100%;
}

.wdth2 {
  width: 70%;
}

.wdth3 {
  width: 60%;
}

.mrgnlr1 {
  margin-left: 10%;
  margin-right: 10%;
}

.mrgna {
  margin: auto;
}

.tac {
  text-align: center;
}

.crsrp {
  cursor: pointer;
}

.hvr1 {
  :hover {
    box-shadow: 0 0 5px 0 white;
    border-radius: 7px;
  }
}

.hvr2 {
  :hover {
    box-shadow: 0 0 10px 0 white;
    border-radius: 7px;
  }
}

.fntsz1 {
  font-size: 100%;
}

.fntsz2 {
  font-size: 200%;
}

.brdrrds {
  border-radius: 7px;
}

.divlogop {
  width: 20%;
  height: 100%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.divlgnandmenu {
  width: 80%;
  padding: 1%;
  padding-bottom: 0%;
  border-top-right-radius: 7px;
}

.divlgnoptns {
  justify-content: right;
  margin-bottom: 3%;
}

.divmnuoptns {
  font-size: 120%;
  width: 16%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 0 -1px 2px 0 whitesmoke;
}

.divmnuoptns2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.divlgnfunctns {
  margin-left: 1%;
}

.divttle {
  justify-content: left;
  padding-left: 25.7%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-family: fantasy;
  color: #a30000;
}

.linkico {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
}

.divlgn {
  padding-top: 3%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.divjnregstr {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.divfrmdta {
  margin-top: 1%;
}

.divfrmdta_titles {
  text-align: left;
  padding-top: 3%;
}

.divnotregisteredyet {
  text-align: left;
}

.divsubmit {
  text-align: right;
  padding-top: 5%;
}

.sbmtbtn {
  opacity: 85%;
  font-weight: bold;
  width: 50%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.divregbtnprnt {
  padding-left: 8%;
  padding-right: 8%;
}

.textarea1 {
  height: 125px;
}

.divlft {
  padding-left: 15%;
  padding-top: 2%;
}
